.pseudo{
    color: rgb(244, 5, 5);
    text-decoration: none;
    cursor: pointer;
}

/* :hover pseudo class */
.pseudo:hover{
    color: rgb(9, 9, 209);
    text-decoration: underline;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #2563eb;
    color: #ffffff;
    text-decoration: none;
    border-radius: 6px;
    font-weight: 500;
    transition: background-color 0.2s ease;
  }
  
  .btn:hover {
    background-color: #09b144;
  }

  
  /* :active pseudo class */
  .btn:active{
    background-color: coral;
    transition: background-color 0.2s ease;
  }