/* text-align */
/* there are prperrties like :
    left
    right
    center
    start 
    end
    justify
 */
 h2{
    text-align: center;
    font-weight: 5000;
 }
 p{
    text-align: justify;
 }
