/* Display Property
        Its sets whether the element is treated as block or inline element and the layout used for its children.
*/
/* Although h1 is block element , but using display propeerty i can set it as inline element  */
h1{
    display: inline ; 
    background-color: aqua;
}

/* Similarly, for an inline element we can set it as block by the display property */
span{
    display: block;
    background-color: yellowgreen;
}

div{
    height: 200px;
    width: 200px;
    background-color: pink;
    border: 2px solid black;
    margin: 5px;
    display: inline-block;
}
/* display: inline-block;
    Allow browser to apply styles as block element but treat as inline element ,
    because in just display : inline; the browses ignores the too many styles for that inline element.
*/