.explain{
    font-weight:bold;
}

/* height:, height for the content area */

/* width: , use to give width area to the content  */

.page-heading{
    height: 50px;
}
.content-para{
    height: 150px;
    width: 500px;
    background-color: rgb(231, 201, 206);
}
.image-example img{
    height: 250px;
    width: 400px;
}
.explanation-part{
    height: 150px;
    width: 50%;
}

/* Border:, Used to set an elements border */
.content-para{
    border-width: 0.8mm;
    border-style: solid;
    border-color: black;
}
.page-heading{
    border-width: 0.1cm;
    border-style: dotted;
    border-color: rgb(116, 116, 224);
}

/* Border Shorthand , write all property-values in a single line  */
.explanation-part{
    border: 5px, solid, yellowgreen;
}